ion-menu{
    --ion-background-color: rgb(61, 1, 61);
    --width: 70%;
}

ion-content{
    --ion-background-color: rgba(146, 33, 146,0)
}

ion-img{
    --width: 20%;
    --height: 20%;
}

.text-center{
    text-align: center;
}

ion-item{
    --border-color: white;
}